:root{
  --background: linear-gradient(180deg, #277eb8, #78b07e);
}
[data-theme="dark"] {
  --background: linear-gradient(180deg, #212121, #212121);
  --navbar-toggler: white;
}

@media only screen and (max-width: 588px) {

    body{
      background: var(--background);
      height: 110vh;

    }
    .navbar-toggler{
      background-color: var(--navbar-toggler) !important;
    }
    .navbar-nav{
      align-items: flex-end;
      flex-direction: column;
    }
    .advantages{
      display: none;
    }
    .container .has-line{
      font-size: 15px;
      padding-left: 0;
    }
    .container .has-line::before{
      display: none;
    }
    .col-8 h1{
      font-size: 40px;
      line-height: 70px;
    }
    .row .col-8 .container{
      width: 360px;
      text-align: center;
    }
    #footer .social-links ul{
      margin-left: 59px;
  
    }
    .Copyright{
      margin-right: 12px;
    }
    .section-one, .section-two, .section-three, .section-four, .section-five{
      position: relative;
      right: 25px;
    }
    .section-one p{
      max-width: 300px;
      margin-left: 55px;
    }
    .section-two p{
      margin-left: 40px;
    }
    .section-three p{
      margin-left: 50px;
    }
    .section-four p{
      margin-left: 52px;
    }
    .section-five p{
      margin-left: 55px;
    }
    .form-select option:nth-child(3), .form-select option:nth-child(4){
      display: none;
    }
  }
  
  @media only screen and (min-width: 588.5px) and (max-width: 1008px) {
    .row{
      display: grid !important;
    }
    .navbar-toggler{
      background-color: var(--navbar-toggler) !important;
    }
    .row .col-8{
      width: 100% !important;
    }
    .row .col-8 .container{
      margin: 180px 0 auto 10px;
      width: 470px;
      text-align: center;
      position: relative;
      left: 10%;
    }
    .Copyright{
      font-size: 16px;
      padding-right: 75px;
    }
    .container .has-line{
      font-size: 15px;
      padding-left: 0;
    }
    .container .has-line::before{
      display: none;
    }
    .col-8 h1{
      font-size: 40px;
      line-height: 70px;
    }
    .advantages{
      top: 65px;
      left: 65%;
    }
    #footer .social-links ul{
      margin-left: 85px;
  
    }
    .navbar-nav{
      align-items: flex-end;
      flex-direction: column;
    }
    body{
      height: 183vh;
    }
  }
  
  @media only screen and (min-width: 1287px) and (max-height: 730px) {
    .advantages{
        width: 350px;
        top: 15%;
    }
    .row .col-8 .container{
        margin: 110px auto auto 10px;
    }
    .Copyright{
      color: var(--text-color);
      position: relative;
      top: 120px;
      right: 105px;
    }

  }


  @media only screen and (min-width: 1287px) and (max-height: 695.20px) {
    .advantages{
        width: 350px;
        top: 10%;
    }
    .row .col-8 .container{
        margin: 70px auto auto 10px;
    }
    .Copyright{
      color: var(--text-color);
      position: relative;
      top: 120px;
      right: 105px;
    }
  }
  
  @media only screen and (min-width: 993px) and (max-width: 1286px){
     
    .advantages{
      width: 350px;
      right: 50px;
      top: 15%;
    }
    .row .col-8 .container{
      margin: 110px auto auto 10px;
      width: 470px;
    }
    .container .has-line{
      font-size: 20px;
    }
    .col-8 h1{
      font-size: 60px;
    }
  }
  @media only screen and (min-width: 993px) and (max-width: 1286px) and (max-height: 695.20px){
    .advantages{
      width: 350px;
      right: 50px;
      top: 10%;
    }
    .row .col-8 .container{
      margin: 70px auto auto 10px;
      width: 470px;
    }
    .container .has-line{
      font-size: 20px;
    }
    .col-8 h1{
      font-size: 60px;
    }
    .Copyright{
      color: var(--text-color);
      position: relative;
      top: 120px;
      right: 105px;
    }
  }
  